<footer>
    <div class="footer-content">
        <div class="footer-info home">
            <p>&copy; {% getYear %} {{ site.author.firstName }} {{ site.author.lastName }}</a></p>
            <ul class="footer-links">
                <li class="footer-link"><a href="{{ site.socials.instagram }}">Instagram</a></li>
                <li class="footer-link"><a href="{{ site.socials.cara }}"> <img class="footer-symbol" src="./images/cara-logo-outline-icon.png"></a></li>
               
                <li class="footer-link"><a href="{{ site.socials.sketchbook }}">Sketchbook</a></li>
            </ul>
        </div>
    </div>
</footer>